.memo {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.memo__li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  padding: 0.2rem 0.5rem;
  background-color: white;
  border: 1px solid skyblue;
  border-radius: 15px;
  cursor: pointer;
}

.li__checkbox {
}
